html, body {
     overflow: visible;
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     background-color: #003865;
     color: #ffffff;
 }
<!DOCTYPE html>
 <html>
 <meta>
     <link rel="stylesheet" type="text/css" href="[the css file]">
 </meta>
 <head>
     <title>Isabella's Portal</title>
 </head>
 <body>
     <h1>Hi I'm Isabella</h1>
     <p>I'm interested in understanding graphics better

</p>
 </body>
 </html>
