html, body {
     overflow: visible;
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     background-color: #003865;
     color: #ffffff;
 }
<!DOCTYPE html>
 <html>
 <meta>
     <link rel="stylesheet" type="text/css" href="[the css file]">
 </meta>
 <head>
     <title>[The title of Your Arcane Portal here]</title>
 </head>
 <body>
     <h1>[Your welcoming message here]</h1>
     <p>[Write something about your portal here]</p>
 </body>
 </html>
